.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
}
.layout > main {
  width: 100vw;
  height: 85%;
}
.background-gradient {
  background: linear-gradient(to right, rgb(12, 13, 50), black);
  color: white;
}
.fourZeroFour {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(12, 13, 50), black);
}
.fourZeroFour img {
  height: 80%;
  width: 50%;
}
