.header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 15px;
  padding: 10px 20px;
  transition: all 3s ease-in-out 3s;
}
.operationBtn {
  width: 120px;
  border-radius: 7px;
}
.nav-brand {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  padding: 10px 20px;
  text-decoration: none;
}
.nav-brand span {
  color: white;
  font-weight: bold;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #6200ea !important;
  transform: scale(1) !important;
}
.nav .active-nav {
  color: #6200ea !important;
}

