.home {
  background: linear-gradient(to right, rgb(12, 13, 50), black);
  color: white;
  padding: 100px 0;
  width: 100%;
}
.display-3 {
  font-weight: 700;
}
.search-box {
  display: flex;
  margin-top: 20px;
  width: 100%;
  column-gap: 10px;
}
.search-box input {
  border-radius: 7px;
  width: 60%;
  border-width: 1px;
}
.search-box input:focus {
  border-color: #6200ea;
}
.search-box button {
  width: 120px;
  background-color: #6200ea;
  color: white;
  font-size: 16px;
  border-radius: 7px;
}
.freeTrialBtn {
  width: 120px;
  border-radius: 7px;
}
