.navbar-container {
  width: 15%;
  height: 100%;
  background-color: rgb(29, 40, 49);
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1em;
}

.custom-text {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.active {
  color: #6200ea;
}

.task-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 99%;
  height: 100%;
  column-gap: 20px;
  padding: 2em 0;
  overflow: scroll;
}

.task-manager {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  margin-bottom: 2em;
}
.task-manager button {
  border-radius: 7px;
}
.task-top-stack {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}
.task-top-stack h4 {
  padding-left: 10px;
}
.operation-wrapper {
  transition: opacity 3s ease-in-out;
}
.operation-wrapper > .add-task {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operation-wrapper > input {
  width: 75%;
  background-color: transparent;
  color: black;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding-left: 10px;
  border-radius: 7px;
  transition: opacity 3s ease-in-out;
}
.operation-wrapper > input::placeholder {
  color: black;
}
.operation-wrapper > input:focus {
  border-color: #6200ea;
}
.searchBtn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
  background-color: aliceblue;
}
.searchBtn:hover {
  background-color: #6200ea;
  color: white;
}
.operation-wrapper {
  width: 190%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 15px;
}
.tasks {
  height: 85%;
  width: 100%;
  padding: 10px;
}
.status-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.status-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  width: 15%;
}
.status-div button {
  background-color: transparent;
  color: black;
  font-style: oblique;
}
.status-div span:first-child {
  font-style: italic;
  font-weight: 500;
}

.status-div div {
  height: 1px;
  width: 100%;
}
.status-type {
  text-transform: capitalize;
}
.task-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  margin: 2em 0;
  gap: 10px;
}
.task-container button {
  width: 100%;
}
.task-card {
  width: 24%;
  min-height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.task-type {
  text-transform: capitalize;
  font-size: 9px;
  padding: 2px;
  color: white;
  border-radius: 5px;
}
.task-title {
  font-size: larger;
  font-weight: bold;
  margin: 5px 0;
}
.task-description {
  color: gray;
  font-size: 14px;
}

.task-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: darkgrey;
}
.task-modal-wrapper {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em 2em;
  border-radius: 10px;
}
.task-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-modal-wrapper form {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
}
.task-info-div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-info-div input, .task-info-div select {
  width: 70%;
  height: 40px;
  border-radius: 7px;
  outline: none;
  border-width: 1px;
  border-style: dotted;
  padding: 0 7px;
  color: black;
  background-color: aliceblue;
  align-self: flex-end;
}
.task-info-div input::placeholder {
  color: black;
}
.task-info-div input:focus, .task-info-div select:focus {
  border-color: #6200ea;
}
.task-modal-wrapper button {
  width: 50%;
  margin: 2em 0;
  border-radius: 10px;
}